<a href="https://colab.research.google.com/github/FlintyTub49/Sem_V-Artificial-Intelligence/blob/master/Classwork/CW_J003_110720.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#List
a = [1,2,3,4,5,'Human']

#Tuple
a = (1,2,3,4,5,'Human')

#Set
a = {'list':[1,2,3,4,5,'Human'],
     'tuple':(1,2,3,4,5,'Human'),
      'set':{1,2,2,4,5,'Human','Human'}}
print(a)

{'list': [1, 2, 3, 4, 5, 'Human'], 'tuple': (1, 2, 3, 4, 5, 'Human'), 'set': {1, 2, 'Human', 4, 5}}

In [2]:
a = {1,2,3,4,5}
b = {2,3,4,5,6}
c = {3,3,4,5,6}

In [3]:
a.add(100)
c.add(100)
print(a)
print(c)

{1, 2, 3, 4, 5, 100}
{3, 100, 4, 5, 6}

If we add an element to a set which has recurrinig values, the new element replaces the first recurring element

In [4]:
z = a.isdisjoint(b)
print(z)

False

Pop a value at random

In [5]:
a.pop()
print(a)

{2, 3, 4, 5, 100}

To find intersection of two sets

In [6]:
a.intersection(b)

{2, 3, 4, 5}

To update the value of union the set in the orginal set

In [7]:
a.update(b)
print(a)

{2, 3, 4, 5, 100, 6}

To discard a specific value in a set

In [8]:
c.discard(3)
print(c)

{100, 4, 5, 6}

To find if a particular set is a subset of another

In [9]:
b.add(100)
c.issubset(b)

True

To Find the difference between 2 Sets

In [10]:
b.difference(c)

{2, 3}

To find if a set is superset of another subset

In [11]:
b.issuperset(c)

True

In [12]:
a = 4
b = 6
c = 8

Making a function to reuse in our code

In [13]:
def printer():
  print(a+b)
def sum(a,b):
  print(a+b)

In [14]:
printer()

10

In [15]:
sum(a,c)

12

Indenting to define an if and else block

In [16]:
if a>9:
  print(a)
else:
  print(a+9)

13

Converting a number from base n to base 10 int (num in base n, n)

In [17]:
str(int('10',2))

'2'

End of line in string

In [18]:
def sum1():
  a = 'asdnfwofn widbfiw\n wifhwd\
  wdwdvwdvdv\
  wvwdvd'
  print(a)
sum1()

asdnfwofn widbfiw
 wifhwd  wdwdvwdvdv  wvwdvd

In [19]:
l = [1,2,3,4]
a = [3,4,5,6]
a.pop(-1)
a

[3, 4, 5]

Name mangling, Variable name is different if wanted to be called out of the class

In [20]:
class student:
  #__name = self.__name
  def __init__(self, name):
    self.name = name
  def displayName(self):
    print(self.name)

##Class vs Object
s1 = student('Santosh')
s1.displayName()

#Raise an error
print(s1.name)

##If you define a global variable in a function with underscore, 
##then you have to access the variable by <object>._<class_name><variable_name_starting_with_underscore>

Santosh
Santosh

In [21]:
class stud(student):
  def __init__(self, a, name):
    self.a = a
    student.__init__(student, name) 

s2 = stud(45, 'santosh')
print(s2.name)
print(s2.a)

santosh
45