<a href="https://colab.research.google.com/github/FlintyTub49/Sem_V-Artificial-Intelligence/blob/master/Classwork/CW_J003_040720.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#List
a = [1,2,3,4,5,'Human']

#Tuple
a = (1,2,3,4,5,'Human')

#Set
a = {'list':[1,2,3,4,5,'Human'],
     'tuple':(1,2,3,4,5,'Human'),
      'set':{1,2,2,4,5,'Human','Human'}}
print(a)

{'list': [1, 2, 3, 4, 5, 'Human'], 'tuple': (1, 2, 3, 4, 5, 'Human'), 'set': {1, 2, 4, 5, 'Human'}}

In [2]:
a = {1,2,3,4,5}
b = {2,3,4,5,6}
c = {3,3,4,5,6}

In [3]:
a.add(100)
c.add(100)
print(a)
print(c)

{1, 2, 3, 4, 5, 100}
{3, 100, 4, 5, 6}

##### If we add an element to a set which has recurrinig values, the new element replaces the first recurring element

In [4]:
z = a.isdisjoint(b)
print(z)

False

###### Pop a value from the set at random

In [5]:
a.pop()
print(a)

{2, 3, 4, 5, 100}

##### To find intersection of two sets

In [6]:
a.intersection(b)

{2, 3, 4, 5}

##### To update the value of union the set in the orginal set

In [7]:
a.update(b)
print(a)

{2, 3, 4, 5, 100, 6}

##### To discard a specific value in a set

In [8]:
c.discard(3)
print(c)

{100, 4, 5, 6}

##### To find if a particular set is a subset of another

In [9]:
b.add(100)
c.issubset(b)

True

##### To Find the difference between 2 Sets

In [10]:
b.difference(c)

{2, 3}

##### To find if a set is superset of another subset

In [11]:
b.issuperset(c)

True